@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");

:root {
  --blue: #3c6382;
  --dark-blue: #1f5a85;
  --red: #ff4f5b;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.3s cubic-bezier(0.38, 1.15, 0.7, 1.12);
  scroll-behavior: smooth;
}

*::selection {
  background: var(--dark-blue);
  color: #fff;
}

html {
  height: 100%;
  font-size: 62.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1.8rem;
}

html::-webkit-scrollbar-track {
  background: #000;
}

html::-webkit-scrollbar-thumb {
  background: var(--red);
}

section {
  min-height: 100vh;
  padding: 1rem 9%;
  padding-top: 6rem;
}

.heading {
  color: var(--blue);
  font-size: 2.5rem;
  text-transform: capitalize;
  font-weight: normal;
  padding: 1rem;
  text-align: center;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 1.5rem;
}

header .navbar a {
  font-size: 1.7rem;
  margin-left: 0.7rem;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  color: var(--dark-blue);
}

header .navbar a.active,
header .navbar a:hover {
  background: var(--blue);
  color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

header.sticky {
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
  padding: 5px;
}

#menu {
  font-size: 3rem;
  color: var(--blue);
  cursor: pointer;
  display: none;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 4rem;
  border-radius: 1.5rem;
  background: var(--blue);
  color: #fff;
  overflow: hidden;
  position: relative;
  z-index: 0;
  font-size: 1.7rem;
  cursor: pointer;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: #444;
  clip-path: polygon(0 0, 100% 0, 0 0, 0% 100%);
  transition: 0.3s linear;
}

.btn:hover::before {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.home {
  background: url(../Images/bg.png) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 105vh;
}

.home .content {
  text-align: center;
  padding-top: 3rem;
  margin: 40px 0;
}

.home .content h1 {
  font-size: 4.5rem;
  color: var(--dark-blue);
  justify-content: flex-start;
  align-items: flex-start;
}

.home .content h3 {
  font-size: 1.9rem;
  color: var(--blue);
  font-weight: normal;
  margin: 3rem;
}

.home .content .btn {
  display: inline-block;
  padding: 0.7rem 3rem;
  color: #fff;
  background: var(--blue);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
  font-size: 1.7rem;
}

.home .content .btn:hover {
  background: var(--dark-blue);
}

/* ------------------------------------------------------------------- */

.form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 110vh;
  background-color: rgba(240, 240, 240, 0.842);
}

.form .heading {
  font-size: 2.7rem;
  text-align: center;
}

.form .content {
  flex: 1 1 20rem;
}

.form .image {
  flex: 1 1 20rem;
}

.form .image img {
  width: 100%;
}

.form .content p {
  font-size: 2rem;
  color: #000;
  padding: 1rem 0;
  margin: 1rem;
}

.login-box {
  position: absolute;
  top: 160%;
  left: 30%;
  width: 400px;
  padding: px;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  border-radius: 10px;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #000;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #000;
  pointer-events: none;
  transition: 0.2s all ease-out;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: var(--dark-blue);
  font-size: 12px;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

/* ------------------------------------------------------ */

.websites {
  margin: 1rem 0;
  height: 110vh;
}
.websites .heading {
  text-align: center;
  font-size: 4rem;
  margin: 2rem 0 2rem 0;
}
.websites .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.websites .box-container .box {
  flex: 2 1 20rem;
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
}

.websites .box-container .box img {
  height: 12rem;
  padding: 1rem;
}

.websites .box-container .box h2 {
  color: var(--blue);
  font-size: 2rem;
  margin: 2rem;
}

.websites .box-container .box p {
  color: var(--dark-blue);
  font-size: 1.4rem;
  padding: 1rem;
  text-align: justify;
}

.websites .box-container .box:hover {
  box-shadow: 0 0.7rem 1rem rgba(0.7, 0.5, 0.8, 0.8);
}

/* ---------------------------------------------------------- */

.highlights {
  background-color: rgba(240, 240, 240, 0.9);
}
.highlights .heading {
  text-align: center;
  font-size: 4rem;
  margin: 5rem 0 3rem 0;
}
.highlights .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.highlights .box-container .box {
  flex: 1 1 30rem;
  border-radius: 0.5rem;
  margin: 1.5rem;
  padding: 1.5rem;
  text-align: center;
}

.highlights .box-container .box img {
  height: 12rem;
  padding: 1rem;
}

.highlights .box-container .box h2 {
  color: var(--blue);
  font-size: 2rem;
}

.highlights .box-container .box p {
  color: var(--dark-blue);
  font-size: 1.4rem;
  padding: 1rem;
}

.highlights .box-container .box:hover {
  box-shadow: 0.3rem 0.5rem 1rem rgba(0.7, 0.5, 0.8, 0.8);
}

/* ----------------------------------------------------------- */
.report {
  height: 110vh;
}

.report .image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.report .button-wrapper {
  text-align: center;
}

/* ------------------------------------------------------------ */

.aboutus {
  background-color: rgba(240, 240, 240, 0.9);
  min-height: 20vh;
}

.aboutus .heading {
  text-align: center;
  font-size: 3.5rem;
  padding: 1rem;
  margin: 0.5rem 0 2rem 0;
}

.aboutus h3 {
  font-size: 2rem;
  color: var(--blue);
  font-weight: normal;
  margin: 2rem 0 4rem 0;
  text-align: center;
}
